<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blogger forgot password</title>
        <style>
            .form-control {
                height: 3rem;
            }

            .form-control::placeholder {
                color: #f6f6f65d;
            }
        </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container mt-5">


            <div class="container row justify-content-center">
                <div class="col-md-6">
                    <div class="card bg-dark">
                        <div class="card-header text-light">Forgot Password</div>
                        <div class="card-body">
                            <form method="post" action="/profile/forgotpassword">
                                <div class="form-group mb-3">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control bg-transparent" id="email" name="email"
                                        placeholder="Enter your email address">
                                </div>
                                <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <%- include('./partials/script') %>

</body>

</html>